################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/test_Database/Database1/Database1.dbmdl
/Database/test_Database/Database1/Database1.jfm
